<h1 class="text-center p-3">ログイン画面</h1>
<%= content_tag(:p, flash.alert, class: "text-center text-danger") if flash.alert %>
<div id="login-form" class="col-5 container p-3">
  <%= form_with model: @form, url: :session, local: true do |f| %>
    <div>
      <%= f.label :email, "メールアドレス"%>
      <%= f.text_field :email, class: "form-control mb-3" %>
    </div>
    <div>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control mb-3" %>
    </div>
    <div>
      <%= f.submit "ログイン", class: "btn btn-success form-control" %>
    </div>
  <% end %>
</div>
